<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Postage Rate Calculator</title>
</head>
<body>
    <h1>Postage Rates</h1>
    <p><b>First-Class Retail Single Piece Mail Type: </b><%= type %></p>
    <p><b>Weight Not Over (oz.):</b> <%= weight %> oz.</p>
    <p><b>Postage Price:</b> $<%= postage %></p>
    <br>
    <a href="/"><button>back</button></a>
</body>
</html>