h1, h2, h3, h4 {
    color: #009dd9;
    width: 100%;
    margin-bottom: 0px;

    text-align: center;
}
.title{color: #009dd9;
    width: 100%;
    margin-bottom: 0px;
    font-size: 1.2em;
    text-align: left;
    
}
.overview{
    color: black;
    width: 100%;
    margin-bottom: 0px;
    font-size: .60em;
    text-align: left;
    
}
body{
    color: #009dd9;
    background-color: rgb(53, 53, 53);
    width: 100%;
    
    /* margin-left: 50px; */
    /* grid-column: 1/4; */
}
.header{
    text-align: center;
}

ul {   
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-self: top;
}
h2 {
    text-align: left;
    font-size: 1em;
    margin-left: 3px;
}
h4 {
    
    text-align: left;
    font-size: .6em;
    margin-left: 4px;
}
p {
    margin-top: 0px;
    /* font-size: .5em; */
    /* margin-left: 5px; */
}
img {
    border-radius: 4px 4px 4px 4px;
    margin: 0px 0px 0px 0px;
}
li {
    width: 300px;
    height: 150px;
    margin: 20px;
    border: 1px solid #2F3440;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px #009dd9;
    overflow: hidden;
    display: flex;
    color: black;
    background-color: white;
}
li:hover {
    animation: enlarge .3s forwards;
}
@keyframes enlarge {
    100% {
        transform: scale(2.0);
        border-radius: 5px 5px 5px 5px;
        border: 2px solid #009dd9;
        overflow: visible;
        background-color: white;
        color: black;
        /* width: 400px; */
        height: 100%;
    }
}